body {
	padding: 0;
	margin: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	position: relative;
	font-weight: 400;
}

.conteiner {
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
	width: 960px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*main-header style*/

.main-header {
	background-color: #293449;
}

.main-header .conteiner {
	display: flex;
}

.header-top-nav {
	flex-grow: 1;
}

.logo {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	background-color: #ee3643;
	padding: 9px 56px;
	font-size: 24px;
	line-height: 24px;
	position: relative;
}

.logo:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -5px;
	height: 5px;
	width: 100%;
	background-color: #b52933;
}

.logo:hover,
.logo:focus {
	outline: 0;
	background-color: #ca2c37;
}

.logo:active {
	background-color: #ba2732;
}

.logo:hover:after,
.logo:focus:after {
	background-color: #9a212a;
}

.logo:active:after {
	background-color: #8e1e26;
}

.header-top-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}

.header-top-item:first-child {
	flex-grow: 1;
}

.header-top-item:not(:last-child) a {
	display: inline-block;
	padding: 12px 27px;
    padding-left: 48px;
	text-decoration: none;
	color: #fff;
}

.header-find-form {
	padding: 0;
	margin: 0;
	height: 100%;
}

.header-find-form input {
	background-image: url(../img/icon-search.svg);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	max-width: 222px;
	padding-right: 0;
	border: 0;
	padding: 0;
	font-family: inherit;
	font-size: 17px;
	line-height: 18px;
	padding-left: 45px;
	color: #fff;
	background-color: transparent;
	background-position: 17px 12px;
}

.header-find-form input::placeholder {
	color: #fff;
}

.header-find-form input:focus {
	background-image: url(../img/icon-search-foc.svg);
}

.header-find-form input:focus,
.header-find-form input:focus::placeholder {
	background-color: #fff;
	color: #000;
	outline: 0;
}

.header-find-form label:hover {
	background-color: #212a3a;
	display: inline-block;
	width: 100%;
	height: 100px;
	max-height: 42px;
}

.header-find-form input:hover::placeholder {
	background-color: transparent;
}


.header-top-item:not(:last-child) a:hover,
.header-top-item:not(:last-child) a:focus {
	outline: 0;
	background-color: #212a3a;
	color: #fff;
}

.header-top-item:not(:first-child) a:active {
	color: #8b8e94;
}

.header-top-item:first-child a:hover,
.header-top-item:first-child a:focus {
	background-image: url(../img/icon-search-hov.svg);
}

.header-top-item:nth-child(2) a {
	background-image: url(../img/icon-bookmark.svg);
	background-repeat: no-repeat;
	background-position: 19px 12px;
}

.header-top-item:nth-child(2) a:hover,
.header-top-item:nth-child(2) a:focus {
	background-image: url(../img/icon-bookmark-hov.svg);
}

.header-top-item:nth-child(2) a:active {
	background-image: url(../img/icon-bookmark-act.svg);
}

.header-top-item:nth-child(3) a {
	background-image: url(../img/cart-icon.svg);
	background-repeat: no-repeat;
	background-position: 18px 12px;
}

.header-top-item:nth-child(3) a:hover,
.header-top-item:nth-child(3) a:focus {
	background-image: url(../img/cart-icon-hov.svg);
}

.header-top-item:nth-child(3) a:active {
	background-image: url(../img/cart-icon-act.svg);
}

.order {
	background-color: #63a63e;
	display: inline-block;
	padding: 12px 21px;
	text-decoration: none;
	color: #fff;
}

.order:hover,
.order:focus {
	outline: 0;
	background-color: #5fbb2d;
}

.order:active {
	background-color: #518534;
}

/*header-center style*/

.header-center {
	padding-top: 45px;
	padding-bottom: 80px;
	background-color: #f3f7f8;
}

.header-center .conteiner {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-wrap: wrap;
}

.contacts {
	margin-right: 70px;
	text-align: center;
}

.shop-name {
	margin: 0;
	margin-top: 3px;
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
	font-style: italic;
	color: #ee3643;
	margin-right: 70px;
}

.phone-number {
	margin: 0;
	display: block;
	padding: 10px 51px;
	padding-left: 71px;
	border: 3px solid #fff;
	background-image: url(../img/icon-phone.svg);
	background-repeat: no-repeat;
	background-position: 15px 10px;
	color: #ee3643;
	font-size: 21px;
	line-height: 21px;
}

.shop-adress {
	margin: 0;
	margin-top: 3px;
	font-size: 14px;
	line-height: 24px;
}

.login {
	background-color: #fff;
	background-image: url(../img/icon-login.svg);
	background-repeat: no-repeat;
	background-position: 13px 15px;
	padding: 12px 27px;
	padding-left: 45px;
	text-decoration: none;
	color: #000;
	margin-right: 10px;
	font-size: 21px;
	line-height: 21px;
}

.login:hover,
.login:focus,
.register:hover,
.register:focus {
	outline: 0;
	color: #ee3643;
}

.login:hover,
.login:focus {
	background-image: url(../img/icon-login-hov.svg);
}

.login:active,
.register:active {
	color: #c5c5c5;
}

.login:active {
	background-image: url(../img/icon-login-act.svg);
}

.register {
	background-color: #fff;
	padding: 12px 24px;
	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
	color: #000;
}

.site-nav {
	padding: 0;
	padding-left: 50px;
	margin: 0;
	margin-top: 60px;
	list-style: none;
	display: flex;
	flex-grow: 1;
}

.site-items a {
	text-decoration: none;
	color: #fff;
	padding: 20px 31px;
	line-height: 17px;
	background-color: #32425c;
	box-shadow: inset 0 -15px 0 -10px #293449;
}

.site-items:first-child a {
	padding-left: 50px;
}


.site-items:last-child a {
	padding-right: 50px;
}

.site-items a:hover,
.site-items a:focus {
	outline: 0;
	background-color: #293449;
}

.site-items a:active {
	color: #8e939c;
	background-color: #1d2739;
	box-shadow: inset 0 -15px 0 -10px #1d2739;
}

/*product-cards style*/

.product-cards {
	margin-top: 60px;
}

.product-cards-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.product-cards-item,
.product-cards-item-wrap {
	width: 100%;
    max-width: 300px;
}

.product-cards-item h3 {
	padding: 0;
	margin: 0;
	margin: 20px 0 13px 22px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #fff;
}

.product-cards-item a {
	text-decoration: none;
	color: #fff;
	width: 100%;
	max-width: 90px;
	text-align: center;
	margin-left: 24px;
	margin-bottom: 22px;
	display: inline-block;
	border-radius: 4px;
	background-color: rgba(0,0,0,0.1);
	padding: 10px 22px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.product-cards-item a:hover,
.product-cards-item a:focus {
	background-color: rgba(0,0,0,0.2);
	outline: 0;
}

.product-cards-item a:active {
	background-color: rgba(0,0,0,0.3);
}

.product-cards-item:first-child {
	background-color: #ffbf47;
	background-image: url(../img/product-cards-icon-1.svg);
	background-repeat: no-repeat;
	background-position: 215px 30px;
	position: relative;
	overflow: hidden;
}

li.product-cards-item:first-child:after,
.popular-product-item:last-child:after {
	content: 'new';
	color: #fff;
	display: inline-block;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	text-align: center;
	position: absolute;
	top: 6px;
	right: -24px;
	width: 88px;
	background-color: #ee3643;
	transform: rotate(45deg);
}

.product-cards-item:nth-child(2) {
	background-color: #3bbce3;
	background-image: url(../img/product-cards-icon-2.svg);
	background-repeat: no-repeat;
	background-position: 198px 34px;
}

.product-cards-item:nth-child(3) {
	background-color: #dc91d8;
	background-image: url(../img/product-cards-icon-3.svg);
	background-repeat: no-repeat;
	background-position: 192px 34px;
}

.product-cards-slider {
	position: relative;
	margin-top: 20px;
	width: 100%;
	max-width: 620px;
	display: flex;
	align-items: flex-end;
}

.slide-one {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	background-image: url(../img/slider-one-bg.jpg);
}

.slide-two {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../img/slider-two-bg.jpg);
}

.slider-description h3 {
	padding: 0;
	margin: 0;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 23px;
	margin-left: 25px;
}

.slider-description p {
	margin: 0;
	margin-top: 3px;
	margin-left: 25px;
	font-size: 18px;
	line-height: 24px;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 400;
	color: #fff;
}

.slider-show {
	display: block;
}

.product-cards-item-wrap {
	margin-top: 20px;
}

.product-cards-another h3 {
	margin-top: 0;
}

.product-cards-another:first-child {
	background-color: #8ed78f;
	padding-top: 20px;
	background-image: url(../img/product-cards-icon-4.svg);
	background-repeat: no-repeat;
	background-position: 198px 28px;
}

.product-cards-another:last-child {
	background-color: #ffc047;
	padding-top: 20px;
	margin-top: 20px;
	background-image: url(../img/product-cards-icon-5.svg);
	background-repeat: no-repeat;
	background-position: 193px 33px;
}

.catalog-open-btn {
	position: relative;
	z-index: 1;
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	color: #fff;
	background-color: #ee3643;
	padding: 10px 48px;
	border-radius: 4px;
	margin-bottom: 20px;
	margin-left: 25px;
}

.catalog-open-btn:hover,
.catalog-open-btn:focus,
.popular-manufacturer-title a:hover,
.popular-manufacturer-title a:focus,
.popular-product-title a:hover,
.popular-product-title a:focus {
	background-color: #ca2c37;
	outline: 0;
}

.catalog-open-btn:active,
.popular-manufacturer-title a:active,
.popular-product-title a:active {
	background-color: #ba2732;
	outline: 0;
}

input[name="slider-radio"] {
	position: relative;
	z-index: 1;
	display: none;
}

.slider-radio-wrap {
	z-index: 1;
	margin-left: 75px;
	margin-bottom: 31px;
}

.radio-indificator {
	position: relative;
	outline: 0;
	z-index: 1;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 6px;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
}

.radio-indificator-current {
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	margin-left: -3px;
	margin-top: -3px;
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #ee3643;
	display: none;
}

.radio-current-show {
	display: block;
}

.slider-radio-label:first-child {
	margin-right: 6px;
}

.slider-radio-label-prev,
.slider-radio-label-next {
	content: '';
	font-size: 0;
	width: 29px;
	height: 29px;
	border: 3px solid #fff;
	border-top-width: 0;
	border-right-width: 0;
	background-color: transparent;
	position: absolute;
	cursor: pointer;
	outline: 0;
}

.slider-radio-label-prev:hover,
.slider-radio-label-next:hover {
	border-color: #ee3643;
}

.slider-radio-label-next {
	top: 50%;
	margin-top: -12px;
	transform: rotate(-135deg);
	right: 26px;
}

.slider-radio-label-prev {
	top: 50%;
	margin-top: -12px;
	transform: rotate(45deg);
	left: 31px;
}

/*popular-product style*/

.popular-product {
	margin-top: 55px;
}

.popular-product-title,
.popular-manufacturer-title {
	padding: 28px;
	padding-top: 0;
	padding-right: 25px;
	background-color: #f9f5f0;
	display: flex;
	justify-content: space-between;
}

.popular-product-title h2,
.popular-manufacturer-title h2 {
	padding: 0;
	margin: 0;
	margin-top: 28px;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	font-weight: 400;
}

.popular-product-title a,
.popular-manufacturer-title a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	margin-top: 25px;
	background-color: #ee3643;
	padding: 9px 54px;
	border-radius: 4px;
	text-transform: uppercase;
}

.popular-product-list,
.popular-manufacturer-list {
	list-style: none;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
	display: flex;
}

.popular-product-item {
	width: 220px;
	margin-right: 20px;
	margin-top: 21px;
	padding-bottom: 20px;
	position: relative;
	overflow: hidden;
	outline: 1px solid #eaeaea;
}

.popular-product-item:nth-child(4n+4) {
	margin-right: 0;
}

.popular-product-item img {
 	display: block;
}

.popular-product-buy,
.popular-product-bookmarks {
	display: none;
	margin: 45px 45px 0 45px;
	text-decoration: none;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.popular-product-buy {
	background-color: #63a63e;
	background-image: url(../img/cart-icon.svg);
	background-repeat: no-repeat;
	background-position: 11px 11px;
	padding: 10px 0;
	border-radius: 4px;
	box-shadow: inset 0px -3px 0 #367315;
}

.popular-product-buy:hover,
.popular-product-buy:focus {
	outline: 0;
	background-color: #5fbb2d;
	background-image: url(../img/cart-icon-hov.svg);
}
.popular-product-buy:active {
	background-color: #518534;
	box-shadow: none;
}

.popular-product-bookmarks {
	margin-top: 7px;
	padding: 7px 0;
	margin-bottom: 51px;
	border-radius: 4px;
	border: 3px solid #63a63e;
	color: #32425c;
}

.popular-product-bookmarks:hover,
.popular-product-bookmarks:focus {
	outline: 0;
	border-color: #32425c;
}

.popular-product-bookmarks:active {
	border-color: #c1c6ce;
	color: #c1c6ce;
}

.popular-product-item:hover{
	cursor: pointer;
	outline: 0;
	box-shadow: 0px 10px 25px 0px rgba(41,52,73,0.5);
}

.popular-product-link {
	display: block;
}

.popular-product-item .popular-product-img-hide {
	display: none;
}

.popular-product-item:hover .popular-product-buy,
.popular-product-item:hover .popular-product-bookmarks,
.popular-product-item:focus .popular-product-buy,
.popular-product-item:focus .popular-product-bookmarks {
	display: block;
}

.popular-product-item:hover img,
.popular-product-item:hover img,
.popular-product-item:focus img,
.popular-product-item:focus img  {
	display: none;
}


.popular-product-item h3 {
	padding: 0;
	margin: 0;
	margin-top: 31px;
	text-align: center;
	font-size: 18px;
	line-height: 20px;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 700;
}

.product-sale {
	display: block;
	text-align: center;
	margin-top: 11px;
	text-decoration: line-through;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 700;
}

.product-price {
	color: #fff;
	margin: 0;
	margin-top: 10px;
	display: inline-block;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 700;
	margin-left: 42px;
	position: relative;
	padding: 10px 20px 10px 36px;
	background-color: #ee3643;
}

.popular-product-item:last-child .product-price {
	margin-top: 39px;
}

.product-price:after {
	content: '';
	position: absolute;
	top: 0;
	right: -38px;
	border-width: 19px;
	border-style: solid;
	border-color: transparent transparent transparent #ee3643;
}

/*popular-manufacturer style*/

.popular-manufacturer {
	margin-top: 23px;
}

.popular-manufacturer-title a {
	padding: 9px 68px;
}

.popular-manufacturer-item a {
	width: 220px;
	display: inline-block;
	margin-right: 20px;
	margin-top: 20px;
	position: relative;
	overflow: hidden;
	max-height: 141px;
	outline: 1px solid #eaeaea;
}

.popular-manufacturer-item:nth-child(4n+4) a {
	margin-right: 0;
}

.popular-manufacturer-item a:hover,
.popular-manufacturer-item a:focus {
	box-shadow: 0px 10px 25px 0px rgba(41,52,73,0.5);
	outline: 0;
}

.popular-manufacturer-item a:active {
	box-shadow: 0px 4px 10px 0px rgba(41,52,73,0.5);
	outline: 0;
}

.popular-manufacturer-item:active img {
	opacity: 0.3;
}

/*service-delivery style*/

.service-delivery {
	background-color: #f4f8fa;
	margin-top: 85px;
}

.service-delivery .conteiner {
	display: flex;
	flex-wrap: wrap;
}

.service {
	padding-top: 65px;
	margin-bottom: 70px;
	width: 100%;
}

.service h2 {
	padding: 0;
	margin: 0;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.serivice-about {
	padding: 0;
	margin: 0;
	margin-top: 26px;
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", Arial, sans-serif;
}

.service-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
}

.service-item {
	padding: 0;
	margin: 0;
}

.service-item label {
	padding: 0;
	margin: 0;
	border: 0;
	display: block;
	padding: 12px 141px 18px 20px;
	text-align: left;
	text-decoration: none;
	box-shadow: 0 -1px 0 0 #4e637c;
	color: #fff;
	background-color: #32425c;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	cursor: pointer;
}

.service-item input[name='service-radio'] {
	display: none;
}

.service-item .label-current {
	color: #32425c;
	background-color: #fff;
	outline: 0;
}

.service-item:first-child label {
	box-shadow: none;
}

.service-item label:hover:not(.label-current ),
.service-item label:focus:not(.label-current ) {
	outline: 0;
	background-color: #293449;
}

.service-nav:after {
	content: '';
	width: 10px;
	height: 280px;
	position: absolute;
	right: 0;
	top: -50px;
	background-image: url(../img/service-nav-shadow.png);
	background-repeat: no-repeat;
}

.delivery,
.warranty,
.credit {
	margin-left: 80px;
	flex-grow: 1;
	background-image: url(../img/delivery-bg.png);
	background-repeat: no-repeat;
	background-position: 152px 20px;
}

.delivery h2,
.warranty h2,
.credit h2 {
	padding: 0;
	margin: 0;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
}

.delivery-about,
.warranty-about,
.credit-about {
	padding: 0;
	margin: 0;
	margin-top: 27px;
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", Arial, sans-serif;
	margin-bottom: 128px;
}

.warranty {
	background-image: url(../img/warranty-bg.png);
	background-repeat: no-repeat;
	background-position: 231px 20px;
}

.warranty-about {
	margin-bottom: 104px;
}

.credit {
	background-image: url(../img/credit-bg.png);
	background-repeat: no-repeat;
	background-position: 154px 20px;
}

.credit-about {
	margin-bottom: 30px;
}

.credit-link {
	padding: 0;
	margin: 0;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	padding: 10px 45px;
	margin-bottom: 108px;
	color: #fff;
	background-color: #ee3643;
}

.credit-link:hover,
.credit-link:focus {
	background-color: #ca2c37;
	outline: 0;
}

.credit-link:active {
	background-color: #ba2732;
}

.warranty,
.credit{
	display: none;
}

.service-show {
	display: block;
}

/*about-company style*/

.about-company {
	display: flex;
	justify-content: space-between;
}

.company-wrap h2 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	margin-top: 80px;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 30px;
}

.company-wrap p {
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", Arial, sans-serif;
}

.company-wrap .paragraph-one {
	margin-bottom: 25px;
}

.company-wrap .paragraph-two {
	margin-bottom: 20px;
}

.company-name-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.company-item {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 20px;
}

.company-item:before {
	content: '';
	display: inline-block;
	width: 25px;
	height: 2px;
	margin-bottom: 5px;
	margin-right: 10px;
	background-color: #ee3643;
}

.about-company-link {
	padding: 0;
	margin: 0;
	margin-top: 16px;
	margin-bottom: 85px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	padding: 10px 41px;
	color: #fff;
	background-color: #ee3643;
}

.about-company-link:hover,
.about-company-link:focus {
	background-color: #ca2c37;
	outline: 0;
}

.about-company-link:active {
	background-color: #ba2732;
	outline: 0;
}

.company-contacts h2 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	margin-top: 80px;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 30px;
}

.company-contacts p {
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 31px;
	font-family: "PT Sans", Arial, sans-serif;
}

#map {
	display: block;
	width: 300px; 
	height: 158px;
	background-image: url(../img/map.jpg);
}

.map-hint {
	padding: 0;
	margin: 0;
	margin-top: 20px;
	margin-left: 25px;
	border-radius: 5px;
	width: 120px;
	background-color: rgba(255,255,255,0.7);
	text-align: left;
	color: #9d1708;
	font-weight: 700;
}

.company-message {
	padding: 0;
	margin: 0;
	margin-top: 41px;
	margin-bottom: 85px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	padding: 10px 62px;
	color: #fff;
	background-color: #ee3643;
}

.company-message:hover,
.company-message:focus {
	background-color: #ca2c37;
	outline: 0;
}

.company-message:active {
	background-color: #ba2732;
	outline: 0;
}

/*footer-top style*/

.footer-top {
	background-color: #32425c;
}

.footer-logo {
	font-size: 30px;
	line-height: 30px;
	padding: 17px 41px;
}

.footer-top .conteiner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-top-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	margin-top: 41px;
}

.footer-top-item a {
	text-decoration: none;
	color: #f3f7f9;
	position: relative;
}

.footer-top-item {
	margin-right: 63px;
}

.footer-top-item:last-child {
	margin-right: 0;
}

.footer-top-item a:after {
	content: '';
	position: absolute;
	height: 1px;
	width: 100%;
	bottom: 1px;
	left: 0;
}

.footer-top-item a:hover:after,
.footer-top-item a:focus:after {
	background-color: #fff;
}

.footer-top-item a:focus:after {
	background-color: #fff;
}

.footer-top-item a:focus {
	outline: 0;
}

.footer-top-item a:active {
	color: rgba(255,255,255,0.5);
}

.company-adress {
	padding: 0;
	margin: 0;
	color: #f3f7f9;
	font-size: 18px;
	line-height: 24px;
	margin-top: 31px;
	margin-bottom: 49px;
}

.footer-bottom-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}

.footer-bottom-list {
	margin-top: 31px;
}

.footer-bottom-item a {
	text-decoration: none;
	position: relative;
	color: #ffd180;
	font-size: 18px;
	line-height: 24px;
}

.footer-bottom-item a:after {
	content: '';
	position: absolute;
	height: 1px;
	width: 100%;
	bottom: 2px;
	left: 0;
}

.footer-bottom-item a:hover:after,
.footer-bottom-item a:focus:after {
	background-color: #ffd180;
}

.footer-bottom-item a:focus:after {
	background-color: #ffd180;
}

.footer-bottom-item a:focus {
	outline: 0;
}

.footer-bottom-item a:active {
	color: rgba(255,209,128,0.5);
}

.footer-bottom-item {
	margin-right: 56px;
}

.footer-bottom-item:last-child {
	margin-right: 0;
}

/*main-footer style*/

.main-footer {
	background-color: #293449;
}

.main-footer .conteiner {
	display: flex;
}

.copyright {
	padding: 0;
	margin: 0;
	margin-top: 40px;
	margin-bottom: 33px;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

.social-list {
	padding: 0;
	margin: 0;
	margin-top: 32px;
	margin-left: 162px;
	list-style: none;
	display: flex;
}

.social-item a {
	padding: 0;
	margin: 0;
	margin-right: 5px;
	width: 40px;
	height: 40px;
	font-size: 0;
	background-color: #212a3a;
	display: inline-block;
	border-radius: 50%;
}

.social-item a:hover,
.social-item a:focus {
	background-color: #ee3643;
	outline: 0;
}

.vk {
	background-image: url(../img/vk-icon.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.fb {
	background-image: url(../img/fb-icon.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.inst {
	background-image: url(../img/insta-icon.svg);
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 0;
}

.feedback {
	padding: 0;
	margin: 0;
	margin-top: 40px;
	margin-left: 114px;
	color: #fff;
	font-size: 16px;
	line-height: 18px;
}

.feedback a {
	text-decoration: none;
	display: block;
	color: #ffd180;
	position: relative;
}

.feedback a:after,
.developed a:after {
	content: '';
	position: absolute;
	height: 1px;
	width: 100%;
	bottom: 0;
	left: 0;
}

.feedback a:hover:after,
.feedback a:focus:after {
	background-color: #ffd180;
}

.feedback a:focus {
	outline: 0;
}

.feedback a:active:after,
.feedback a:active {
	color: #ee3643;
	background-color: transparent;
}

.developed {
	padding: 0;
	margin: 0;
	margin-left: 49px;
	margin-top: 40px;
	color: #fff;
	font-size: 16px;
	line-height: 18px;
}

.developed a {
	text-decoration: none;
	position: relative;
	display: block;
	color: #ffd180;
}

.developed a:hover:after,
.developed a:focus:after {
	background-color: #ffd180;
}

.developed a:focus {
	outline: 0;
}

.developed a:active:after,
.developed a:active {
	color: #ee3643;
	background-color: transparent;
}

/*popaps style*/

.write-us-popup {
	position: fixed;
	left: 50%;
	bottom: 200px;
	display: none;
	margin-left: -310px;
	z-index: 3;
	box-sizing: border-box;
	max-width: 620px;
	height: 430px;
	background-color: #f4f4f4;
	box-shadow: 0 20px 60px 0 rgba(0,0,0,0.75);
}

.overlay {
	position: absolute;
	display: none;
	z-index: 2;
	top: 0;
	width: 100%;
	height: 100%;
}

.write-us-form {
	padding: 0;
	margin: 0;
	background: #f4f4f4;
}

.form-overlay {
	display: flex;
	background-color: #fff;
	padding: 50px 80px;
	padding-bottom: 35px;
	flex-wrap: wrap;
	box-shadow: inset 0 7px 0 0 #ff5257;
	justify-content: space-between;
}

.write-us-label {
	font-size: 18px;
	line-height: 18px;
}

.write-us-label input {
	padding: 0;
	margin: 0;
	margin-top: 10px;
	display: block;
	box-sizing: border-box;
	border: 2px solid #dee3e4;
	border-radius: 5px;
	padding: 10px 50px 10px 15px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.write-us-label:nth-child(3) {
	width: 100%;
	margin-top: 20px;
}

.write-us-label:nth-child(3) input {
	width: 100%;
	padding-bottom: 90px;

}

.write-us-label input::placeholder {
	color: #999999;
}

.write-us-label input:hover {
	border-color: #b5b5b5;
}

.write-us-label input:focus {
	border-color: #ee3643;
	outline: 0;
}

.write-us-button {
	padding: 0;
    margin: 0;
    border: 0;
    margin-top: 35px;
    margin-left: 80px;
    margin-bottom: 37px;
    width: 100%;
    max-width: 460px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 0;
    color: #fff;
    background-color: #ee3643;
    cursor: pointer;
}

.write-us-button:hover,
.write-us-button:focus {
	background-color: #ca2c37;
	outline: 0;
}

.write-us-button:active {
	background-color: #ba2732;
	outline: 0;
}

.write-us-close {
	position: absolute;
	top: 16px;
	right: 9px;
	font-size: 0;
	border: 0;
	width: 21px;
	height: 21px;
	cursor: pointer;
	background-color: transparent;
	background-image: url(../img/form-close.svg);
}

/*map-popup style*/

#map-popup {
	position: fixed;
	left: 50%;
	display: none;
	z-index: 3;
	margin-left: -470px;
	bottom: 170px;
	width: 940px;
	height: 446px;
	background-image: url(../img/map-popup.jpg);
	background-repeat: no-repeat;
	box-shadow: 0 0 17px 2px rgba(47,42,43,0.5);
}

.map-popup-close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 0;
	z-index: 1;
	border: 0;
	width: 21px;
	height: 21px;
	cursor: pointer;
	background-color: transparent;
	background-image: url(../img/form-close.svg);
}

/*catalog.html style*/

.catalog .header-top-item:nth-child(3) a {
	background-color: #ee3643;
}

.catalog .shop-name {
	margin-right: 71px;
}

.catalog .contacts {
	margin-right: 50px;
}

.login-wrap {
	width: 100%;
	max-width: 299px;
	position: relative;
}

.catalog .login {
	margin: 0;
	display: inline-block;
	color: #000;
	background-image: none;
	background-image: url(../img/icon-user.svg);
	background-repeat: no-repeat;
	background-position: 13px 14px;
}

.catalog .login-out {
	position: absolute;
	background-image: url(../img/icon-logout.svg);
	background-repeat: no-repeat;
	background-position: 12px 15px;
	top: 0;
	padding: 12px 12px;
    background-color: #fff;
    left: 257px;
	width: 20px;
	height: 21px;
}

.catalog .login:hover,
.catalog .login:focus {
	background-image: url(../img/icon-user-hov.svg);
}

.catalog .login-out:hover,
.catalog .login-out:focus {
	background-image: url(../img/icon-logout-hov.svg);
}

.catalog .login:active{
	background-image: url(../img/icon-user.svg);
	color: #c5c5c5;
}

.catalog .login-out:active{
	background-image: url(../img/icon-logout.svg);
	color: #c5c5c5;
}

.login-list {
	padding: 0;
	margin: 0;
	margin-top: 9px;
	margin-left: 18px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	max-width: 212px;
}

.login-item a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	position: relative;
}

.login-item a:hover,
.login-item a:focus {
	outline: 0;
	color: #ee3643;
}

.login-item a:active {
	color: #c5c5c5;
}

.login-item:last-child a:before {
	content: '';
	position: absolute;
	left: -20px;
	top: 6px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #32425c;
}

/*catalog-category style*/

.catalog-category {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
}

.breadcrumbs {
	padding: 0;
	margin: 0;
	margin-top: 20px;
	list-style: none;
	display: flex;
}

.breadcrumbs-item:first-child {
	background-image: url(../img/icon-home.svg);
	background-repeat: no-repeat;
	background-position: 0 center;
}

.breadcrumbs-item a {
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	color: #000;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	margin-right: 41px;
	font-weight: 400;
}

.breadcrumbs-item a:before {
	content: '';
	position: absolute;
	width: 9px;
	height: 9px;
	left: -29px;
	top: 4px;
	transform: rotate(45deg);
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #c1c6ce;
}

.breadcrumbs-item:first-child a {
	margin-left: 54px;
}

.catalog-category-title {
	padding: 0;
	margin: 0;
	margin-top: 20px;
	width: 100%;
	padding: 30px 28px;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	background-color: #f2f6f8;
}

.filter-form {
	max-width: 220px;
	margin-top: 20px;
}

.form-name {
	padding: 0;
	margin: 0;
	padding: 10px 19px;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: "PT Sans", Arial, sans-serif;
	background-color: #f7f3ec;
}

.range-name {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	position: relative;
	margin-top: 10px;
	padding-bottom: 25px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #e5e5e5;
}

.range-wrap {
	background-color: #f7f3ec;
	padding: 39px 20px;
	margin-top: 15px;
}

.range {
    width:180px;
    height:2px;
	position: relative;
    border-radius: 4px;
    background-color: #d7dcde;
}

.range__button_1, .range__button_2 {
    position: absolute;
    top: 50%;
	outline: 0;
    width: 20px;
    height: 20px;

    cursor: pointer;
    transform: translateY(-50%);

    border: none;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 0 0 #e0ddd8;
}

.range__between {
  	position: absolute;
    height: 2px;
    width:0px;
    border: none;
    background-color: #00ca74;
}

.range_inpt1, .range_inpt2 {
	border: 0;
	position: relative;
	text-align: center;
	font-size: 17px;
	line-height: 18px;
	padding: 10px 0;
	background-color: #f7f3ec;
  	margin-top: 9px;
  	width: 95px;
  	-moz-appearance: textfield;
}

.range_inpt1::-webkit-outer-spin-button,
.range_inpt1::-webkit-inner-spin-button,
.range_inpt2::-webkit-outer-spin-button,
.range_inpt2::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.range-name:after {
	content: '';
	position: absolute;
	bottom: 43px;
	left: 106px;
	width: 10px;
	height: 1px;
	background-color: #000;
}

.range__button_1:after, .range__button_2:after {
	position: absolute;
	content: '';
	width: 4px;
	height: 4px;
	left: 50%;
	top: 50%;
	margin-left: -2px;
	margin-top: -2px;
	background-color: #ababab;
	border-radius: 50%;
}

.brend-field {
	padding: 0;
	margin: 0;
	border: 0;
	margin-top: 16px;
	padding-bottom: 2px;
	border-bottom: 1px solid #e5e5e5;
}

.brend-field legend {
	padding: 0;
	margin: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 14px;
}

.brend-label {
	display: block;
	position: relative;
	padding: 0;
	padding-left: 34px;
	margin-bottom: 20px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}

.brend-label input[name="brend-checkbox"] {
	display: none;
}

.brend-label input[name="brend-checkbox"]:checked + .check-indicator  {
	background-image: url(../img/checkbox-on.svg);
	background-repeat: no-repeat;
}

.brend-label input[name="brend-checkbox"]:checked + .check-indicator:hover,
.brend-label input[name="brend-checkbox"]:checked + .check-indicator:focus  {
	background-image: url(../img/checkbox-on-hov.svg);
	background-repeat: no-repeat;
}

.brend-label input[name="brend-checkbox"]:disabled + .check-indicator {
	opacity: 0.3;
	background-image: url(../img/checkbox-on-hov.svg);
	background-repeat: no-repeat;
}

.check-indicator {
	position: absolute;
	top: -1px;
	left: 0;
	width: 26px;
	height: 26px;
	cursor: pointer;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
}

.check-indicator:hover,
.check-indicator:focus {
	outline: 0;
	background-image: url(../img/checkbox-off-hov.svg);
}

.power-fielsdet {
	padding: 0;
	margin: 0;
	border: 0;
	margin-top: 17px;
}

.power-label {
	display: block;
	position: relative;
	padding-left: 34px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}

.power-label {
	margin-bottom: 20px;
}

.power-label:last-child {
	margin-bottom: 0;
}

.power-fielsdet legend {
	padding: 0;
	margin: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 14px;
}

.power-label input[type="radio"] {
	display: none;
}

.power-label input[type="radio"]:checked + .power-radio-indicator:after {
	display: block;
}

.power-label input[type="radio"]:disabled + .power-radio-indicator:after {
	background-color: #e9e9e9;
}

.power-label input[type="radio"]:disabled + .power-radio-indicator {
	border-color: #e9e9e9;
}

.power-radio-indicator {
	position: absolute;
	width: 25px;
	height: 25px;
	top: -3px;
	left: 0;
	border-radius: 50%;
	box-sizing: border-box;
	cursor: pointer;
	border: 4px solid #c5c5c5;
}

.power-radio-indicator:after {
	content: '';
	position: absolute;
	display: none;
	width: 9px;
	height: 9px;
	left: 50%;
	top: 50%;
	margin-left: -4.5px;
	margin-top: -4.5px;
	border-radius: 50%;
	background-color: #c5c5c5;
}

.power-radio-indicator:hover:after {
	background-color: #b5b5b5;
}

.power-radio-indicator:hover {
	border-color: #b5b5b5;
}

.filter-form-button {
	border: 1px solid #e5e5e5;
	text-transform: uppercase;
	background-color: transparent;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	margin-top: 78px;
	border-radius: 4px;
	padding: 9px 39px;
	cursor: pointer;
}

.column-two {
	max-width: 700px;
}

.sort-option-list {
	padding: 0;
	margin: 0;
	margin-top: 20px;
	padding: 10px 20px;
	padding-right: 17px;
	list-style: none;
	display: flex;
	background-color: #f7f3ec;
}

.sort-item {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
}

.sort-item:first-child {
	margin-right: 139px;
}

.sort-item:nth-child(2) {
	margin-right: 70px;
}

.sort-item:nth-child(3) {
	margin-right: 66px;
}

.sort-item:nth-child(4) {
	margin-right: 45px;
}

.sort-item:nth-child(5) {
	margin-right: 20px;
}

.sort-item button {
	padding: 0;
	margin: 0;
	border: 0;
	position: relative;
	background-color: transparent;
	text-transform: uppercase;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #acaaa5;
	cursor: pointer;
}

.sort-item-category:after {
	content: '';
	left: 0;
	bottom: 1px;
	position: absolute;
	height: 1px;
	width: 100%;
	background-image: repeating-linear-gradient(to right, red 0, red 1px, transparent 1px, transparent 2px);
}

.sort-item .sort-current,
.sort-item .sort-current:after {
	color: #ee3643;
	outline: 0;
	background-image: none;
}

.sort-up {
	outline: 0;
	width: 11px;
	height: 10px;
	background-image: url(../img/icon-static-dir.svg);
	background-repeat: no-repeat;
	transform: rotate(180deg);
}

.sort-down {
	outline: 0;
	width: 11px;
	height: 10px;
	background-image: url(../img/icon-static-dir.svg);
	background-repeat: no-repeat;
}

.sort-active {
	width: 11px;
	height: 10px;
	background-image: url(../img/icon-act-dir.svg);
	background-repeat: no-repeat;
}

.sort-item-category:hover:not(.sort-current),
.sort-item-category:focus:not(.sort-current) {
	outline: 0;
	color: #000;
}

.sort-item-category:hover:not(.sort-current):after,
.sort-item-category:focus:not(.sort-current):after {
	outline: 0;
	background-image: repeating-linear-gradient(to right, red, red);
}

.sort-up:hover:not(.sort-active),
.sort-up:focus:not(.sort-active) {
	outline: 0;
	transform: rotate(0deg);
	background-image: url(../img/icon-hov-dir.svg);
}

.sort-down:hover:not(.sort-active),
.sort-down:focus:not(.sort-active) {
	outline: 0;
	background-image: url(../img/icon-hov-dir.svg);
	transform: rotate(180deg);
}

.catalog-category .popular-product-item {
	margin-right: 20px;
}

.catalog-category .popular-product-item:nth-child(3n+3) .product-price {
	margin-top: 39px;
}

.catalog-category  .popular-product-item:nth-child(3n+3) {
	margin-right: 0;
}

.catalog-category .popular-product-item:nth-child(3):after,
.catalog-category .popular-product-item:nth-child(5):after,
.catalog-category .popular-product-item:nth-child(7):after {
	content: 'new';
	color: #fff;
	display: inline-block;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	text-align: center;
	position: absolute;
	top: 6px;
	right: -24px;
	width: 88px;
	background-color: #ee3643;
	transform: rotate(45deg);
}

.catalog-category .popular-product-item:last-child:after {
	opacity: 0;
}

.paginator {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	margin-left: 240px;
	margin-top: 55px;
	margin-bottom: 60px;
}

.paginator-item {
	margin-right: 9px;	
}

.paginator-item-btn {
	border: 0;
	outline: 0;
	background-color: transparent;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	padding: 9px 15px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	text-transform: uppercase;
	cursor: pointer;
}

.paginator-item-btn:hover:not(.paginator-item-btn-current),
.paginator-item-btn:focus:not(.paginator-item-btn-current) {
	outline: 0;
	border-color: #bdc6ca;
}

.paginator-item-btn:active:not(.paginator-item-btn-current) {
	outline: 0;
	border-color: #ee3643;
}

.paginator-item:last-child .paginator-item-btn {
	padding: 9px 31px;
}

.paginator-item-btn-current {
	background-color: #ee3643;
	border: 1px solid #ee3643;
	color: #fff;
}

/*preforator-about*/

.perforator-about {
	background-color: #f2f6f8;
	padding: 66px 0;
}

.perforator-about h2 {
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	font-size: 30px;
	line-height: 30px;
}

.perforator-about p {
	padding: 0;
	margin: 0;
	margin-top: 26px;
	font-size: 30px;
	line-height: 30px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

/*catalog cart-popup*/

.cart-popup {
	position: fixed;
	left: 50%;
	top: 115px;
	margin-left: -310px;
	z-index: 3;
	box-sizing: border-box;
	max-height: 282px;
	max-width: 619.56px;
	display: none;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	background-color: #f4f4f4;
	box-shadow: 0 20px 60px 0 rgba(0,0,0,0.75);
}

.cart-popup h3 {
	padding: 0;
	margin: 0;
	font-size: 30px;
	line-height: 30px;
	padding: 70px 107px 70px 180px;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow: inset 0 7px 0 0 #ff5257;
	background-image: url(../img/cart-popup-icon.svg);
	background-repeat: no-repeat;
	background-position: 80px 55px;
}

.cart-popup-order-buy {
	padding: 0;
    margin: 0;
    border: 0;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 60px;
    margin: 37px 0;
    margin-right: 20px;
    color: #fff;
    background-color: #ee3643;
    cursor: pointer;
}

.continue-purchases {
	padding: 0;
    margin: 0;
    border: 0;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 45px;
    margin: 37px 0;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.cart-popup-close {
	position: absolute;
	top: 16px;
	right: 9px;
	font-size: 0;
	border: 0;
	width: 21px;
	height: 21px;
	cursor: pointer;
	background-color: transparent;
	background-image: url(../img/form-close.svg);
}

.cart-popup-order-buy:hover,
.cart-popup-order-buy:focus {
	background-color: #ca2c37;
	outline: 0;
}

.cart-popup-order-buy:active {
	background-color: #ba2732;
	outline: 0;
}