body {
	padding: 0;
	margin: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
}

.conteiner {
	margin: 0 auto;
	width: 960px;
}

.main-header {
	background-color: #293449;
}

.main-header .conteiner {
	display: flex;
}

.logo {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	background-color: #ee3643;
	padding: 9px 56px;
	font-size: 24px;
	line-height: 24px;
	position: relative;
}

.logo:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -5px;
	height: 5px;
	width: 100%;
	background-color: #b52933;
}

.header-top-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	width: 720px;
}

.header-top-item:first-child {
	flex-grow: 1;
	background-image: url(../img/icon-search.svg);
	background-repeat: no-repeat;
	background-position: 17px 12px;
}

.header-top-item:nth-child(2) {
	background-image: url(../img/icon-bookmark.svg);
	background-repeat: no-repeat;
	background-position: 17px 12px;
}

.header-top-item:nth-child(3) {
	background-image: url(../img/cart-icon.svg);
	background-repeat: no-repeat;
	background-position: 14px 12px;
}


.header-top-item:last-child a {
	display: inline-block;
	padding: 12px 21px;
	text-decoration: none;
	color: #fff;
}

.header-top-item:not(:last-child) a {
	display: inline-block;
	padding: 12px 31px;
	padding-left: 45px;
	text-decoration: none;
	color: #fff;
}

.order {
	background-color: #63a63e;
}