body {
	padding: 0;
	margin: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	position: relative;
}

.conteiner {
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
	width: 960px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*main-header style*/

.main-header {
	background-color: #293449;
}

.main-header .conteiner {
	display: flex;
}

.header-top-nav {
	flex-grow: 1;
}

.logo {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	background-color: #ee3643;
	padding: 9px 56px;
	font-size: 24px;
	line-height: 24px;
	position: relative;
}

.logo:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -5px;
	height: 5px;
	width: 100%;
	background-color: #b52933;
}

.logo:hover,
.logo:focus {
	outline: 0;
	background-color: #ca2c37;
}

.logo:active {
	background-color: #ba2732;
}

.logo:hover:after,
.logo:focus:after {
	background-color: #9a212a;
}

.logo:active:after {
	background-color: #8e1e26;
}

.header-top-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}

.header-top-item:first-child {
	flex-grow: 1;
}

.header-top-item:not(:last-child) a {
	display: inline-block;
	padding: 12px 31px;
	padding-left: 45px;
	text-decoration: none;
	color: #fff;
}

.header-find-form {
	padding: 0;
	margin: 0;
	height: 100%;
}

.header-find-form input {
	background-image: url(../img/icon-search.svg);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	max-width: 222px;
	padding-right: 0;
	border: 0;
	padding: 0;
	font-family: inherit;
	font-size: 17px;
	line-height: 18px;
	padding-left: 45px;
	color: #fff;
	background-color: transparent;
	background-position: 17px 12px;
}

.header-find-form input::placeholder {
	color: #fff;
}

.header-find-form input:focus {
	background-image: url(../img/icon-search-foc.svg);
}

.header-find-form input:focus,
.header-find-form input:focus::placeholder {
	background-color: #fff;
	color: #000;
	outline: 0;
}

.header-find-form label:hover {
	background-color: #212a3a;
	display: inline-block;
	width: 100%;
	height: 100px;
	max-height: 42px;
}

.header-find-form input:hover::placeholder {
	background-color: transparent;
}


.header-top-item:not(:last-child) a:hover,
.header-top-item:not(:last-child) a:focus {
	outline: 0;
	background-color: #212a3a;
	color: #fff;
}

.header-top-item:not(:first-child) a:active {
	color: #8b8e94;
}

.header-top-item:first-child a:hover,
.header-top-item:first-child a:focus {
	background-image: url(../img/icon-search-hov.svg);
}

.header-top-item:nth-child(2) a {
	background-image: url(../img/icon-bookmark.svg);
	background-repeat: no-repeat;
	background-position: 17px 12px;
}

.header-top-item:nth-child(2) a:hover,
.header-top-item:nth-child(2) a:focus {
	background-image: url(../img/icon-bookmark-hov.svg);
}

.header-top-item:nth-child(2) a:active {
	background-image: url(../img/icon-bookmark-act.svg);
}

.header-top-item:nth-child(3) a {
	background-image: url(../img/cart-icon.svg);
	background-repeat: no-repeat;
	background-position: 14px 12px;
}

.header-top-item:nth-child(3) a:hover,
.header-top-item:nth-child(3) a:focus {
	background-image: url(../img/cart-icon-hov.svg);
}

.header-top-item:nth-child(3) a:active {
	background-image: url(../img/cart-icon-act.svg);
}

.order {
	background-color: #63a63e;
	display: inline-block;
	padding: 12px 22px;
	text-decoration: none;
	color: #fff;
}

.order:hover,
.order:focus {
	outline: 0;
	background-color: #5fbb2d;
}

.order:active {
	background-color: #518534;
}

/*header-center style*/

.header-center {
	padding-top: 45px;
	padding-bottom: 80px;
	background-color: #f3f7f8;
}

.header-center .conteiner {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-wrap: wrap;
}

.contacts {
	margin-right: 70px;
	text-align: center;
}

.shop-name {
	margin: 0;
	margin-top: 3px;
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
	font-style: italic;
	color: #ee3643;
	margin-right: 70px;
}

.phone-number {
	margin: 0;
	display: block;
	padding: 10px 51px;
	padding-left: 71px;
	border: 3px solid #fff;
	background-image: url(../img/icon-phone.svg);
	background-repeat: no-repeat;
	background-position: 15px 10px;
	color: #ee3643;
	font-size: 21px;
	line-height: 21px;
}

.shop-adress {
	margin: 0;
	margin-top: 3px;
	font-size: 14px;
	line-height: 24px;
}

.login {
	background-color: #fff;
	background-image: url(../img/icon-login.svg);
	background-repeat: no-repeat;
	background-position: 13px 15px;
	padding: 12px 27px;
	padding-left: 45px;
	text-decoration: none;
	color: #000;
	margin-right: 10px;
	font-size: 21px;
	line-height: 21px;
}

.login:hover,
.login:focus,
.register:hover,
.register:focus {
	outline: 0;
	color: #ee3643;
}

.login:hover,
.login:focus {
	background-image: url(../img/icon-login-hov.svg);
}

.login:active,
.register:active {
	color: #c5c5c5;
}

.login:active {
	background-image: url(../img/icon-login-act.svg);
}

.register {
	background-color: #fff;
	padding: 12px 24px;
	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
	color: #000;
}

.site-nav {
	padding: 0;
	padding-left: 50px;
	margin: 0;
	margin-top: 60px;
	list-style: none;
	display: flex;
	flex-grow: 1;
}

.site-items a {
	text-decoration: none;
	color: #fff;
	padding: 20px 31px;
	line-height: 17px;
	background-color: #32425c;
	box-shadow: inset 0 -15px 0 -10px #293449;
}

.site-items:first-child a {
	padding-left: 50px;
}


.site-items:last-child a {
	padding-right: 50px;
}

.site-items a:hover,
.site-items a:focus {
	outline: 0;
	background-color: #293449;
}

.site-items a:active {
	color: #8e939c;
	background-color: #1d2739;
	box-shadow: inset 0 -15px 0 -10px #1d2739;
}

/*product-cards style*/

.product-cards {
	margin-top: 60px;
}

.product-cards-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.product-cards-item,
.product-cards-item-wrap {
	width: 100%;
    max-width: 300px;
}

.product-cards-item h3 {
	padding: 0;
	margin: 0;
	margin: 20px 0 13px 22px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #fff;
}

.product-cards-item a {
	text-decoration: none;
	color: #fff;
	width: 100%;
	max-width: 90px;
	text-align: center;
	margin-left: 24px;
	margin-bottom: 22px;
	display: inline-block;
	border-radius: 4px;
	background-color: rgba(0,0,0,0.1);
	padding: 10px 22px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.product-cards-item a:hover,
.product-cards-item a:focus {
	background-color: rgba(0,0,0,0.2);
	outline: 0;
}

.product-cards-item a:active {
	background-color: rgba(0,0,0,0.3);
}

.product-cards-item:first-child {
	background-color: #ffbf47;
	background-image: url(../img/product-cards-icon-1.svg);
	background-repeat: no-repeat;
	background-position: 215px 30px;
	position: relative;
	overflow: hidden;
}

li.product-cards-item:first-child:after,
.popular-product-item:last-child:after {
	content: 'new';
	color: #fff;
	display: inline-block;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	text-align: center;
	position: absolute;
	top: 6px;
	right: -24px;
	width: 88px;
	background-color: #ee3643;
	transform: rotate(45deg);
}

.product-cards-item:nth-child(2) {
	background-color: #3bbce3;
	background-image: url(../img/product-cards-icon-2.svg);
	background-repeat: no-repeat;
	background-position: 198px 34px;
}

.product-cards-item:nth-child(3) {
	background-color: #dc91d8;
	background-image: url(../img/product-cards-icon-3.svg);
	background-repeat: no-repeat;
	background-position: 192px 34px;
}

.product-cards-slider {
	position: relative;
	margin-top: 20px;
	width: 100%;
	max-width: 620px;
	display: flex;
	align-items: flex-end;
}

.slide-one {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../img/slider-one-bg.jpg);
}

.slide-two {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	background-image: url(../img/slider-two-bg.jpg);
}

.slider-description h3 {
	padding: 0;
	margin: 0;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 23px;
	margin-left: 25px;
}

.slider-description p {
	margin: 0;
	margin-top: 3px;
	margin-left: 25px;
	font-size: 18px;
	line-height: 24px;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 400;
	color: #fff;
}

.slider-show {
	display: block;
}

.product-cards-item-wrap {
	margin-top: 20px;
}

.product-cards-another h3 {
	margin-top: 0;
}

.product-cards-another:first-child {
	background-color: #8ed78f;
	padding-top: 20px;
	background-image: url(../img/product-cards-icon-4.svg);
	background-repeat: no-repeat;
	background-position: 198px 28px;
}

.product-cards-another:last-child {
	background-color: #ffc047;
	padding-top: 20px;
	margin-top: 20px;
	background-image: url(../img/product-cards-icon-5.svg);
	background-repeat: no-repeat;
	background-position: 193px 33px;
}

.catalog-open-btn {
	position: relative;
	z-index: 1;
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	color: #fff;
	background-color: #ee3643;
	padding: 10px 48px;
	border-radius: 4px;
	margin-bottom: 20px;
	margin-left: 25px;
}

.catalog-open-btn:hover,
.catalog-open-btn:focus,
.popular-manufacturer-title a:hover,
.popular-manufacturer-title a:focus,
.popular-product-title a:hover,
.popular-product-title a:focus {
	background-color: #ca2c37;
	outline: 0;
}

.catalog-open-btn:active,
.popular-manufacturer-title a:active,
.popular-product-title a:active {
	background-color: #ba2732;
	outline: 0;
}

input[name="slider-radio"] {
	position: relative;
	z-index: 1;
	display: none;
}

.slider-radio-wrap {
	z-index: 1;
	margin-left: 75px;
	margin-bottom: 31px;
}

.radio-indificator {
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
}

.radio-indificator:after {
	content: '';
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	margin-left: -3px;
	margin-top: -3px;
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #ee3643;
	display: none;
}

input[name="slider-radio"]:checked + .radio-indificator:after {
	display: block;
}

.slider-radio-label:first-child {
	margin-right: 6px;
}

.slider-radio-label-prev:after,
.slider-radio-label-next:after {
	content: '';
	font-size: 0;
	width: 29px;
	height: 29px;
	border: 3px solid #fff;
	border-top-width: 0;
	border-right-width: 0;
	background-color: transparent;
	position: absolute;
	cursor: pointer;
	outline: 0;
}

.slider-arrow:focus {
	border-color: rgba(0,0,0,0.5);
}

.slider-radio-label-next:after {
	top: 50%;
	margin-top: -12px;
	transform: rotate(-135deg);
	right: 26px;
}

.slider-radio-label-prev:after {
	top: 50%;
	margin-top: -12px;
	transform: rotate(45deg);
	left: 31px;
}

/*popular-product style*/

.popular-product {
	margin-top: 55px;
}

.popular-product-title,
.popular-manufacturer-title {
	padding: 28px;
	padding-top: 0;
	padding-right: 25px;
	background-color: #f9f5f0;
	display: flex;
	justify-content: space-between;
}

.popular-product-title h2,
.popular-manufacturer-title h2 {
	padding: 0;
	margin: 0;
	margin-top: 28px;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	font-weight: 400;
}

.popular-product-title a,
.popular-manufacturer-title a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	margin-top: 25px;
	background-color: #ee3643;
	padding: 9px 54px;
	border-radius: 4px;
	text-transform: uppercase;
}

.popular-product-list,
.popular-manufacturer-list {
	list-style: none;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
	display: flex;
}

.popular-product-item {
	width: 220px;
	margin-right: 20px;
	margin-top: 20px;
	padding-bottom: 20px;
	position: relative;
	overflow: hidden;
	outline: 1px solid #eaeaea;
}

.popular-product-item:nth-child(4n+4) {
	margin-right: 0;
}

.popular-product-item img {
 	display: block;
}

.popular-product-buy,
.popular-product-bookmarks {
	display: none;
	margin: 45px 45px 0 45px;
	text-decoration: none;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.popular-product-buy {
	background-color: #63a63e;
	background-image: url(../img/cart-icon.svg);
	background-repeat: no-repeat;
	background-position: 11px 11px;
	padding: 10px 0;
	border-radius: 4px;
	box-shadow: inset 0px -3px 0 #367315;
}

.popular-product-buy:hover,
.popular-product-buy:focus {
	background-color: #5fbb2d;
	background-image: url(../img/cart-icon-hov.svg);
}
.popular-product-buy:active {
	background-color: #518534;
	box-shadow: none;
}

.popular-product-bookmarks {
	margin-top: 7px;
	padding: 7px 0;
	margin-bottom: 51px;
	border-radius: 4px;
	border: 3px solid #63a63e;
	color: #32425c;
}

.popular-product-bookmarks:hover,
.popular-product-bookmarks:focus {
	border-color: #32425c;
}

.popular-product-bookmarks:active {
	border-color: #c1c6ce;
	color: #c1c6ce;
}


.popular-product-item:hover {
	cursor: pointer;
	box-shadow: 0px 10px 25px 0px rgba(41,52,73,0.5);
}

.popular-product-item:hover .popular-product-buy,
.popular-product-item:hover .popular-product-bookmarks,
.popular-product-item:focus .popular-product-buy,
.popular-product-item:focus .popular-product-bookmarks {
	display: block;
}

.popular-product-item:hover img,
.popular-product-item:hover img,
.popular-product-item:focus img,
.popular-product-item:focus img  {
	display: none;
}

.popular-product-item h3 {
	padding: 0;
	margin: 0;
	margin-top: 31px;
	text-align: center;
	font-size: 18px;
	line-height: 20px;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 700;
}

.product-sale {
	display: block;
	text-align: center;
	margin-top: 11px;
	text-decoration: line-through;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 700;
}

.product-price {
	color: #fff;
	margin: 0;
	margin-top: 10px;
	display: inline-block;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 700;
	margin-left: 42px;
	position: relative;
	padding: 10px 20px 10px 36px;
	background-color: #ee3643;
}

.popular-product-item:last-child .product-price {
	margin-top: 39px;
}

.product-price:after {
	content: '';
	position: absolute;
	top: 0;
	right: -38px;
	border-width: 19px;
	border-style: solid;
	border-color: transparent transparent transparent #ee3643;
}

/*popular-manufacturer style*/

.popular-manufacturer {
	margin-top: 23px;
}

.popular-manufacturer-title a {
	padding: 9px 68px;
}

.popular-manufacturer-item a {
	width: 220px;
	display: inline-block;
	margin-right: 20px;
	margin-top: 20px;
	position: relative;
	overflow: hidden;
	max-height: 141px;
	outline: 1px solid #eaeaea;
}

.popular-manufacturer-item:nth-child(4n+4) a {
	margin-right: 0;
}

.popular-manufacturer-item a:hover,
.popular-manufacturer-item a:focus {
	box-shadow: 0px 10px 25px 0px rgba(41,52,73,0.5);
	outline: 0;
}

.popular-manufacturer-item a:active {
	box-shadow: 0px 4px 10px 0px rgba(41,52,73,0.5);
	outline: 0;
}

.popular-manufacturer-item:active img {
	opacity: 0.3;
}

/*service-delivery style*/

.service-delivery {
	background-color: #f4f8fa;
	margin-top: 85px;
}

.service-delivery .conteiner {
	display: flex;
	flex-wrap: wrap;
}

.service {
	padding-top: 65px;
	margin-bottom: 70px;
	width: 100%;
}

.service h2 {
	padding: 0;
	margin: 0;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.serivice-about {
	padding: 0;
	margin: 0;
	margin-top: 26px;
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", Arial, sans-serif;
}

.service-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
}

.service-item {
	padding: 0;
	margin: 0;
}

.service-item label {
	padding: 0;
	margin: 0;
	border: 0;
	display: block;
	padding: 12px 141px 18px 20px;
	text-align: left;
	text-decoration: none;
	box-shadow: 0 -1px 0 0 #4e637c;
	color: #fff;
	background-color: #32425c;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	cursor: pointer;
}

.service-item input[name='service-radio'] {
	display: none;
}

.service-item input[name='service-radio']:checked + label {
	color: #32425c;
	background-color: #fff;
}

.service-item:first-child label {
	box-shadow: none;
}

.service-item label:hover,
.service-item label:focus {
	background-color: #293449;
}

.service-nav:after {
	content: '';
	width: 10px;
	height: 280px;
	position: absolute;
	right: 0;
	top: -50px;
	background-image: url(../img/service-nav-shadow.png);
	background-repeat: no-repeat;
}

.delivery,
.warranty,
.credit {
	margin-left: 80px;
	flex-grow: 1;
	background-image: url(../img/delivery-bg.png);
	background-repeat: no-repeat;
	background-position: 152px 20px;
}

.delivery h2,
.warranty h2,
.credit h2 {
	padding: 0;
	margin: 0;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
}

.delivery-about,
.warranty-about,
.credit-about {
	padding: 0;
	margin: 0;
	margin-top: 27px;
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", Arial, sans-serif;
	margin-bottom: 128px;
}

.warranty {
	background-image: url(../img/warranty-bg.png);
	background-repeat: no-repeat;
	background-position: 231px 20px;
}

.warranty-about {
	margin-bottom: 104px;
}

.credit {
	background-image: url(../img/credit-bg.png);
	background-repeat: no-repeat;
	background-position: 154px 20px;
}

.credit-about {
	margin-bottom: 30px;
}

.credit-link {
	padding: 0;
	margin: 0;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	padding: 10px 45px;
	margin-bottom: 108px;
	color: #fff;
	background-color: #ff5357;
}

.credit-link:hover,
.credit-link:focus {
	background-color: #ca2c37;
}

.credit-link:active {
	background-color: #ba2732;
}

.warranty,
.credit{
	display: none;
}

.service-show {
	display: block;
}

/*about-company style*/

.about-company {
	display: flex;
	justify-content: space-between;
}

.company-wrap h2 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	margin-top: 80px;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 30px;
}

.company-wrap p {
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", Arial, sans-serif;
}

.company-wrap .paragraph-one {
	margin-bottom: 25px;
}

.company-wrap .paragraph-two {
	margin-bottom: 20px;
}

.company-name-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.company-item {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 20px;
}

.company-item:before {
	content: '';
	display: inline-block;
	width: 25px;
	height: 2px;
	margin-bottom: 5px;
	margin-right: 10px;
	background-color: #ee3643;
}

.about-company-link {
	padding: 0;
	margin: 0;
	margin-top: 16px;
	margin-bottom: 85px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	padding: 10px 41px;
	color: #fff;
	background-color: #ee3643;
}

.about-company-link:hover,
.about-company-link:focus {
	background-color: #ca2c37;
	outline: 0;
}

.about-company-link:active {
	background-color: #ba2732;
	outline: 0;
}

.company-contacts h2 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	margin-top: 80px;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 30px;
}

.company-contacts p {
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 31px;
	font-family: "PT Sans", Arial, sans-serif;
}

#map {
	width: 300px; 
	height: 158px;
	background-image: url(../img/map.jpg);
}

.map-hint {
	padding: 0;
	margin: 0;
	margin-top: 20px;
	margin-left: 25px;
	border-radius: 5px;
	width: 120px;
	background-color: rgba(255,255,255,0.7);
	text-align: left;
	color: #9d1708;
	font-weight: 700;
}

.company-message {
	padding: 0;
	margin: 0;
	margin-top: 41px;
	margin-bottom: 85px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	padding: 10px 62px;
	color: #fff;
	background-color: #ee3643;
}

.company-message:hover,
.company-message:focus {
	background-color: #ca2c37;
	outline: 0;
}

.company-message:active {
	background-color: #ba2732;
	outline: 0;
}

/*footer-top style*/

.footer-top {
	background-color: #32425c;
}

.footer-logo {
	font-size: 30px;
	line-height: 30px;
	padding: 17px 41px;
}

.footer-top .conteiner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-top-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	margin-top: 41px;
}

.footer-top-item a {
	text-decoration: none;
	color: #f3f7f9;
	position: relative;
}

.footer-top-item {
	margin-right: 63px;
}

.footer-top-item:last-child {
	margin-right: 0;
}

.footer-top-item a:after {
	content: '';
	position: absolute;
	height: 1px;
	width: 100%;
	bottom: 1px;
	left: 0;
}

.footer-top-item a:hover:after,
.footer-top-item a:focus:after {
	background-color: #fff;
}

.footer-top-item a:focus:after {
	background-color: #fff;
}

.footer-top-item a:focus {
	outline: 0;
}

.footer-top-item a:active {
	color: rgba(255,255,255,0.5);
}

.company-adress {
	padding: 0;
	margin: 0;
	color: #f3f7f9;
	font-size: 18px;
	line-height: 24px;
	margin-top: 31px;
	margin-bottom: 49px;
}

.footer-bottom-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}

.footer-bottom-list {
	margin-top: 31px;
}

.footer-bottom-item a {
	text-decoration: none;
	position: relative;
	color: #ffd180;
	font-size: 18px;
	line-height: 24px;
}

.footer-bottom-item a:after {
	content: '';
	position: absolute;
	height: 1px;
	width: 100%;
	bottom: 2px;
	left: 0;
}

.footer-bottom-item a:hover:after,
.footer-bottom-item a:focus:after {
	background-color: #ffd180;
}

.footer-bottom-item a:focus:after {
	background-color: #ffd180;
}

.footer-bottom-item a:focus {
	outline: 0;
}

.footer-bottom-item a:active {
	color: rgba(255,209,128,0.5);
}

.footer-bottom-item {
	margin-right: 56px;
}

.footer-bottom-item:last-child {
	margin-right: 0;
}

/*main-footer style*/

.main-footer {
	background-color: #293449;
}

.main-footer .conteiner {
	display: flex;
}

.copyright {
	padding: 0;
	margin: 0;
	margin-top: 40px;
	margin-bottom: 33px;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

.social-list {
	padding: 0;
	margin: 0;
	margin-top: 32px;
	margin-left: 162px;
	list-style: none;
	display: flex;
}

.social-item a {
	padding: 0;
	margin: 0;
	margin-right: 5px;
	width: 40px;
	height: 40px;
	font-size: 0;
	background-color: #212a3a;
	display: inline-block;
	border-radius: 50%;
}

.social-item a:hover,
.social-item a:focus {
	background-color: #ee3643;
	outline: 0;
}

.vk {
	background-image: url(../img/vk-icon.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.fb {
	background-image: url(../img/fb-icon.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.inst {
	background-image: url(../img/insta-icon.svg);
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 0;
}

.feedback {
	padding: 0;
	margin: 0;
	margin-top: 40px;
	margin-left: 114px;
	color: #fff;
	font-size: 16px;
	line-height: 18px;
}

.feedback a {
	text-decoration: none;
	display: block;
	color: #ffd180;
	position: relative;
}

.feedback a:after,
.developed a:after {
	content: '';
	position: absolute;
	height: 1px;
	width: 100%;
	bottom: 0;
	left: 0;
}

.feedback a:hover:after,
.feedback a:focus:after {
	background-color: #ffd180;
}

.feedback a:focus {
	outline: 0;
}

.feedback a:active:after,
.feedback a:active {
	color: #ee3643;
	background-color: transparent;
}

.developed {
	padding: 0;
	margin: 0;
	margin-left: 49px;
	margin-top: 40px;
	color: #fff;
	font-size: 16px;
	line-height: 18px;
}

.developed a {
	text-decoration: none;
	position: relative;
	display: block;
	color: #ffd180;
}

.developed a:hover:after,
.developed a:focus:after {
	background-color: #ffd180;
}

.developed a:focus {
	outline: 0;
}

.developed a:active:after,
.developed a:active {
	color: #ee3643;
	background-color: transparent;
}

/*popaps style*/

.write-us-popup {
	position: fixed;
	left: 50%;
	bottom: 200px;
	display: none;
	margin-left: -310px;
	z-index: 3;
	box-sizing: border-box;
	max-width: 620px;
	height: 430px;
	background-color: #f4f4f4;
	box-shadow: 0 20px 60px 0 rgba(0,0,0,0.75);
}

.write-us-overlay {
	position: absolute;
	display: none;
	z-index: 2;
	top: 0;
	width: 100%;
	height: 100%;
}

.write-us-form {
	padding: 0;
	margin: 0;
	background: #f4f4f4;
}

.form-overlay {
	display: flex;
	background-color: #fff;
	padding: 50px 80px;
	padding-bottom: 35px;
	flex-wrap: wrap;
	box-shadow: inset 0 7px 0 0 #ff5257;
	justify-content: space-between;
}

.write-us-label {
	font-size: 18px;
	line-height: 18px;
}

.write-us-label input {
	padding: 0;
	margin: 0;
	margin-top: 10px;
	display: block;
	box-sizing: border-box;
	border: 2px solid #dee3e4;
	border-radius: 5px;
	padding: 10px 50px 10px 15px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.write-us-label:nth-child(3) {
	width: 100%;
	margin-top: 20px;
}

.write-us-label:nth-child(3) input {
	width: 100%;
	padding-bottom: 90px;

}

.write-us-label input::placeholder {
	color: #999999;
}

.write-us-label input:hover {
	border-color: #b5b5b5;
}

.write-us-label input:focus {
	border-color: #ee3643;
	outline: 0;
}

.write-us-button {
	padding: 0;
    margin: 0;
    border: 0;
    margin-top: 35px;
    margin-left: 80px;
    margin-bottom: 37px;
    width: 100%;
    max-width: 460px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 0;
    color: #fff;
    background-color: #ee3643;
    cursor: pointer;
}

.write-us-button:hover,
.write-us-button:focus {
	background-color: #ca2c37;
	outline: 0;
}

.write-us-button:active {
	background-color: #ba2732;
	outline: 0;
}

.write-us-close {
	position: absolute;
	top: 16px;
	right: 9px;
	font-size: 0;
	border: 0;
	width: 21px;
	height: 21px;
	cursor: pointer;
	background-color: transparent;
	background-image: url(../img/form-close.svg);
}

